<!DOCTYPE html>
<html>
  <head>
    <title>L Game</title>
    <meta charset="utf-8">
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/togetherjs-min.js"></script>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div id="container">
      <table class="table">
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>

      <div id="l1"></div>
      <div id="l2"></div>
      <div id="o1"></div>
      <div id="o2"></div>
    </div>
    <button id="start-togetherjs">找朋友開始遊戲</button>
    <script type="text/javascript" charset="utf-8">
      $(function () {
        $("#start-togetherjs").click(TogetherJS);
        $("#l1").draggable();
        $("#l2").draggable();
        $("#o1").draggable();
        $("#o2").draggable();
      });
    </script>
  </body>
</html>
